.grebhave {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.grebhave .grebhavetext {
  visibility: hidden;
  min-width: 140px;
  max-width: fit-content;
  background-color: lightgoldenrodyellow;
  /* background-color: #E9EEEE; */
  color: #000;
  text-align: center;
  border-radius: 10px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-style: unset;
  padding: 2px;
  box-shadow: #000;
  /*font-size: 13px;*/
}

.grebhave .grebhavetext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.grebhave:hover .grebhavetext {
  visibility: visible;
  opacity: 1;
}